
.baba{
    display: flex;
    display: flex;
    background-image: url('./image.png');
    overflow:hidden;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-position:cent/er;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
section {
  position: relative;
  z-index: 3;
}

.Acontainer {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;  
  text-align: center;
}

.section-header h2 {
  color: #000000;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #000000;
}

.row  {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fdf0d5;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px; 
  line-height: 7px;
}

.contact-info-content {
  margin-left: 20px;
  margin-top: 0px;
}

.contact-info-content h4 {
  color: #780000;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #000000;
  font-size: 1em;
}

.contact-form {
  background-color: #dbe0e0;
  padding: 40px;
  width: 45%;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #4b1212;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #780000;
  font-size: 12px;
  transform: translateY(-20px);
  border-radius: 15px;
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #780000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #780000;
  border-radius: 10px;
  transition: 0.5s;
}
.submit:hover {
    background-color: #fdf0d5;
    color: #780000;
  }

.contact-form .input-box input[type="submit"]:hover
{
  background-color: #780000;
    color: #fdf0d5;
    transform: scale(1.05);
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}