/* styles.css */
/* html {
  height: 100%;
  background-image: url('./image.png');
  background-repeat: no-repeat;
  background-size: cover; 
} */
body, html {
  overflow: hidden;
}
.Head{
   font-family:'Times New Roman', Times, serif;
   font-weight: bolder;
}
.Faltu{
  margin-left: 3.5vw;
  font-size: x-large  ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 1vw;
}
.A{
  /* margin-top: ?vh; */
  font-size: 6vh;
  font-weight:700;
}
/* body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

.container {
  display: flex;
  background-image: url('./image.png');
  overflow:hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  }
  
  .slideshow {
    flex: 1;
    margin-right: 20px;
  }
  
  .slide {
    width: 100%;
    display: none;
  }
  
  .description {
    flex: 1;
  }
  
  /* Add CSS for site description styling */
  

h1{
    margin-top: 50px;
    margin-left: 51px;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}



