/* styles.css */
.container {
    display: flex;
  }
  
  .slideshow {
    flex: 1;
    margin-right: 20px;
  }
  
  .slide {
    width: 100%;
    display: none;
  }
  
  .description {
    flex: 1;
  }
  
  /* Add CSS for site description styling */
  body{
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

h1{
    margin-top: 50px;
    margin-left: 510px;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}

.slider-frame{
    overflow: hidden;
    height: 400px;
    width: 800px;
    /* margin-left: 360px;
    margin-top: 20px; */
    margin:8vh;
    margin-top:10%;
}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    35% { transform: translateX(-800px); }
    60% { transform: translateX(-800px); }
    70% { transform: translateX(-1600px); }
    95% { transform: translateX(-1600px); }
    100% { transform: translateX(0); }
}

@-webkit-keyframes slide_animation {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    35% { transform: translateX(-800px); }
    60% { transform: translateX(-800px); }
    70% { transform: translateX(-1600px); }
    95% { transform: translateX(-1600px); }
    100% { transform: translateX(0); }
}


.slide-images {
    width: 2400px; /* Adjusted width to match three images */
    height: 400px;
    margin: 0;
    position: relative;
    animation: slide_animation 12s infinite;
}

.img-container1{
    background-image: url('./image1.jpg');
    height: 400px;
    width: 800px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-container2{
    background-image: url('./image2.jpg');
    height: 400px;
    width: 800px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-container3{
    background-image: url('./image3.jpg');
    height: 400px;
    width: 800px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}