/* Navbar.css */

.Navbar {
  width: 100%;
  color: #fdf0d5;
  position: relative;
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #780000;
  height: 7vh;
  color: #fdf0d5;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.NavHead {
  display: flex;
  align-items: center;
}

.Logo {
  font-size: 24px;
  font-weight: bold;
  color: #fdf0d5;
  margin-right: 10px;
}

.Title {
  font-size: 20px;
  color: #fdf0d5;
}

.ElemContainer {
  display: flex;
}

.linked {
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
  color: #fdf0d5;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease; /* Smooth transition for color change */
}

.linked:hover {
  color: #c1121f; /* Change color on hover */
  background-color: #fdf0d5;
  transform: scale(1.1); /* Scale up on hover */
}

/* Dropdown menu */
.DropdownMenu {
  position: absolute;
  top: calc(100% + 10px); /* Position the dropdown below the Navbar */
  left: auto  ;
  background-color: #780000;
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
  color: #fdf0d5;
}

.DropdownMenu div {
  margin-bottom: 5px;
}

.DropdownMenu a {
  color: #fdf0d5;
  text-decoration: none;
  font-size: 18px;
}

.DropdownMenu a:hover {
  color: #00bcd4;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .NavContainer {
    flex-direction: column;
    padding: 20px;
  }

  .NavHead {
    margin-bottom: 20px;
  }

  .ElemContainer {
    flex-direction: row;
    align-items: center;
  }

  .NavLink {
    margin: 10px 0;
  }
}
